RewriteEngine on 

RewriteCond %{QUERY_STRING} ^$
RewriteRule ^([0-9]+)$ /kvak/$1/ [L,R=301]
RewriteRule ^([0-9]+)\/$ /kvak/index.php?f=$1&page=1 [L]
RewriteRule ^([0-9]+)\/page-([0-9]+)$ /kvak/index.php?f=$1&page=$2 [L]

#oldpage - для старых ссылок
RewriteRule ^([0-9]+)\/([0-9]+)\.html$ /kvak/index.php?f=$1&oldpage=$2 [L]
RewriteRule ^([0-9]+/[0-9]+)$ /kvak/$1/ [L,R=301]
RewriteRule ^([0-9]+)/([0-9]+)/$ /kvak/index.php?f=$1&t=$2&page=1 [L]
RewriteRule ^([0-9]+)/([0-9]+)/page-([0-9]+)$ /kvak/index.php?f=$1&t=$2&page=$3 [L]
RewriteRule ^([0-9]+)/([0-9]+)/all$ /kvak/index.php?f=$1&t=$2&page=all [L]
RewriteRule ^([0-9]+)/([0-9]+)/([0-9]+)\.html$ /kvak/index.php?f=$1&t=$2&oldpage=$3 [L]

RewriteRule ^([0-9]+)/([0-9]+)/last$ /kvak/index.php?f=$1&t=$2&page=last [L]

RewriteRule ^out$ /kvak/index.php?out=1 [L]
RewriteRule ^search/?$ /kvak/index.php?search=1 [L]
RewriteRule ^([0-9]+)/([0-9]+)/del-([0-9]+)$ /kvak/index.php?f=$1&t=$2&delpost=$3 [L]
RewriteRule ^([0-9]+)/([0-9]+)/deltop-([0-9]+)$ /kvak/index.php?f=$1&t=$2&deltop=$3 [L]
RewriteRule ^([0-9]+)/([0-9]+)/edit-([0-9]+)$ /kvak/index.php?f=$1&t=$2&editpost=$3 [L]
