RewriteEngine on 
RewriteRule ^[0-9]+/?$ /paper/ [L]
RewriteRule ^fish.php$ /paper/fish.php?f=0&t=0 [L]

RewriteCond %{HTTP_HOST} ^podpol.anabot.ru$ [OR]
RewriteCond %{HTTP_HOST} ^mbl.anabot.ru$ [OR]
RewriteCond %{HTTP_HOST} ^www.anabot.ru$ [OR]
RewriteCond %{HTTP_HOST} ^www.interl.aaanet.ruforum.anabot.ru$
RewriteRule ^(.*)$ http://anabot.ru/paper/$1 [R=301,L]

#Полезные ссылки
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^poleznye_ssylki.php$ /paper/21/117  [R=301]
RewriteRule ^21/117/?$ /paper/poleznye_ssylki.php?f=21&t=117 [L]

#Пахт: о поршневых и плунжерных насосах, или как не учить картинки
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^PAXTnasosy1g.php$ /paper/21/165  [R=301]
RewriteRule ^21/165/?$ /paper/PAXTnasosy1g.php?f=21&t=165 [L]

#Пахт: о поршневых и плунжерных насосах: велосипедный насос
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^PAXTnasosy1_2g.php$ /paper/21/170  [R=301]
RewriteRule ^21/170/?$ /paper/PAXTnasosy1_2g.php?f=21&t=170 [L]

#Аспирантура в РХТУ: миф или кривые руки?
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^asp.php$ /paper/1/401  [R=301]
RewriteRule ^1/401/?$ /paper/asp.php?f=1&t=401 [L]

#ПСЖ, академ, отчисление: кратко о главном
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^PSZh.php$ /paper/1/1  [R=301]
RewriteRule ^1/1/?$ /paper/PSZh.php?f=1&t=1 [L]

#К вопросу о точности тест-систем для определения NH3 / NH4+
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^NH3.php$ /paper/25/547  [R=301]
RewriteRule ^25/547/?$ /paper/NH3.php?f=25&t=547 [L]

#«Нашествие»: Как отдыхать, чего нельзя и как превратить «нельзя» в «можно»
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^Nashestvie.php$ /paper/18/95  [R=301]
RewriteRule ^18/95/?$ /paper/Nashestvie.php?f=18&t=95 [L]

#«Нашествие», часть 2: что брать и что надевать
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^NashestvieChtoBrat_.php$ /paper/18/595  [R=301]
RewriteRule ^18/595/?$ /paper/NashestvieChtoBrat_.php?f=18&t=595 [L]

#Заправка струйного принтера на коленке
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^zapravkaPrintera.php$ /paper/2/2  [R=301]
RewriteRule ^2/2/?$ /paper/zapravkaPrintera.php?f=2&t=2 [L]

#ЖПНР!
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^ZhPNR.php$ /paper/3/136  [R=301]
RewriteRule ^3/136/?$ /paper/ZhPNR.php?f=3&t=136 [L]

#ЖПНРОЗ
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^ZhPNROZ.php$ /paper/3/316  [R=301]
RewriteRule ^3/316/?$ /paper/ZhPNROZ.php?f=3&t=316 [L]

#Менделееву таблица не снилась...
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^MendeleevuTablicaNeSnilas_.php$ /paper/3/5  [R=301]
RewriteRule ^3/5/?$ /paper/MendeleevuTablicaNeSnilas_.php?f=3&t=5 [L]

#мистическое Место Исполнения Желаний
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^MestoIspolnenijaZhelanijj.php$ /paper/3/236  [R=301]
RewriteRule ^3/236/?$ /paper/MestoIspolnenijaZhelanijj.php?f=3&t=236 [L]

# Что такое спин?
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^ChtoTakoeSpin.php$ /paper/3/6  [R=301]
RewriteRule ^3/6/?$ /paper/ChtoTakoeSpin.php?f=3&t=6 [L]

#Студенты и перепись населения — кто виноват и чем это пахнет?
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^studper.php$ /paper/4/398  [R=301]
RewriteRule ^4/398/?$ /paper/studper.php?f=4&t=398 [L]

#«Чао, сигарета» — поддержка наркомана или наркоторговца?
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^ChaoSigaretaIli.php$ /paper/4/7 [R=301]
RewriteRule ^4/7/?$ /paper/ChaoSigaretaIli.php?f=4&t=7 [L]

#Советы первакурам
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^SovetyPerWackom.php$ /paper/8/13 [R=301]
RewriteRule ^8/13/?$ /paper/SovetyPerWackom.php?f=8&t=13 [L]

#Самодельная магнитная мешалка. Часть 1 (теоретическая)
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^meshalki-1.php$ /paper/25/601 [R=301]
RewriteRule ^25/601/?$ /paper/meshalki-1.php?f=25&t=601 [L]

#Самодельная магнитная мешалка. Часть 2 (практическая)
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^meshalki-2.php$ /paper/25/602 [R=301]
RewriteRule ^25/602/?$ /paper/meshalki-2.php?f=25&t=602 [L]

#вспомогательные правила
RewriteCond %{REQUEST_URI} !^/paper/ht.php$
RewriteCond %{QUERY_STRING} !^$
RewriteCond %{QUERY_STRING} !^f=[0-9]+&t=[0-9]+$
RewriteRule ^.*$ / [R]